*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, #1e0840 0%, #0a0015 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

canvas {
    display: block;
    image-rendering: pixelated;
    margin-inline: auto !important;
}

@media screen and (max-width: 500px) {
    canvas {
        margin-top: 0 !important;
        padding-inline: 5px;
    }
}